
  <div class="container">
    <form (ngSubmit)="onSave(f)" #f="ngForm" >
      <div class="form-group">
        <Label>Department Name</Label>
          <input name="Name" ngModel type="text" class="form-control" placeholder="Enter name">
      </div>
      <div class="form-group">
        <Label>Description</Label>
          <input name="description" ngModel type="text" class="form-control" placeholder="Enter description">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </form>

</div>
